@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar li, .navbar a, .navbar button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style: none;
}

.navbar{
    display: flex;
    padding: 20px 30px;
    background-color: #fff;
    top: 0;
    position: fixed;
    z-index: 1200;
    width: 100%;
}

.navContent{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: rgb(0, 0, 0);
}

.logo{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
    cursor: pointer;
    margin-left: 10px;
}

.navContent li{
    display: inline-block;
    padding: 0px 20px;
}

.navContent li a{
    transition: all 0.3s ease 0s;
}

.navContent li a:hover{
    color: #C7AB9D ;
}

.navbar button{
    padding: 5px 15px;
    border: 2px solid #C7AB9D;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

.navbar button:hover{
    background-color: #EBCFB2;
}

.profileTitle{
    font-size: 35px;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 30px;
}
.profile-content {
    margin: 30px;
    justify-content: center;
}
.profile-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.profile-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: outset;
    margin-left: 20px;
}

.profile-content h2{
    margin: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.profile-content li{
    margin: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}